<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <style>
        .inner{
            text-align: center;
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="cover.css" />
    <title>Hanuman Jewellers</title>
</head>

<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Hanuman Jewellers</h3>
                <img src="Images/hanuma.png" alt="pic" width="50px" height="50px"> 
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <a class="nav-link" href="/uploads">Upload Image</a>
                    <a class="nav-link" href="/contact">Contact</a>
                    <a class="nav-link" href="tel:+919440242898"><i class="fas fa-phone-alt"></i></a>
                </nav>
            </div>
        </header>
        <div class="album py-5 bg-light">
            <h2 class="section-heading h1 pt-4" style="text-align: center; margin-bottom: 50px;">
                Uploaded Images
            </h2>
            <div class="container">
                <div class="row">
                    <% items.forEach(function(image) { %>
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4 shadow-sm" data-toggle="modal" data-target=".man<%=image.id%>">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#cf1b1b" />
                                <image x="0" y="0" width="100%" height="100%" href="data:image/<%=image.image.contentType%>;base64, 
                                <%=image.image.data.toString('base64')%>"></image>
                            </svg>
                            <div class="card-body">
                                <h6 class="card-text">Name : <%=image.Name%></h6>
                                <p class="card-text">category : <%=image.category%></p>
                                <p class="card-text">Tags :<%=image.tags%></p>
                            </div>

                            <div class="modal fade man<%=image.id%>" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <form action="/uploadedImages" method="post">
                                                <input style="width: 0; height: 0;" type="hidden" name="id"
                                                    value="<%=image.id%>" />
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    Delete Image
                                                </button>
                                            </form>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <svg class="bd-placeholder-img card-img-top" width="100%" height="500px"
                                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                                <rect width="100%" height="100%" fill="#cf1b1b" />
                                                <image x="0" y="0" width="100%" height="100%" href="data:image/<%=image.image.contentType%>;base64, 
                                            <%=image.image.data.toString('base64')%>"></image>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <footer>
            <a href="tel:+919440242898"><i class="fas fa-phone"></i></a>
            <a href="//api.whatsapp.com/send?phone=919440242898&text=Hi,%20i%20want%20to%20purchase%20from%20you."
                title="Share on whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.facebook.com/hrs.kpg/"><i class="fab fa-facebook"></i></a>
            <a href="mailto:hanumanjewellery@gmail.com"><i class="fas fa-envelope"></i></a>
            <p class="copyRight"><i class="fas fa-copyright"></i> Hanuman Jewellers <%=year %></p>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>